<header class="site-header mo-left header">
		<div class="top-bar">
			<div class="container">
				<div class="row d-flex justify-content-between align-items-center">
					<div class="dlab-topbar-left">
						<ul>
							<li><a href="">O nas</a></li>
							<li><a href="privacy-policy.html">Polityka prywatności</a></li>
							<li><a href="">Panel administracyjny</a></li>
						</ul>
					</div>
					<div class="dlab-topbar-right">
						<a href="" class="site-button radius-no btnhover13">UZYSKAJ WYCENĘ</a>
						<a href="contact-1.html" class="site-button radius-no btnhover13">STREFA KLIENTA</a>						
					</div>
				</div>
			</div>
		</div>
		<!-- main header -->
        <div class="sticky-header main-bar-wraper navbar-expand-lg">
            <div class="main-bar clearfix ">
                <div class="container clearfix">
                    <!-- website logo -->
                    <div class="logo-header mostion logo-dark">
						<a href="index.html"><img src="{{asset('images/logo.png')}}" alt=""></a>
					</div>
                    <!-- nav toggle button -->
                    <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>
                    <!-- extra nav -->
                    <div class="extra-nav">
                        <div class="extra-cell">
                            <button id="quik-search-btn" type="button" class="site-button-link"><i class="la la-search"></i></button>
						</div>
                    </div>
                    <!-- Quik search -->
                    <div class="dlab-quik-search">
                        <form action="#">
                            <input name="search" value="" type="text" class="form-control" placeholder="Type to search">
                            <span id="quik-search-remove"><i class="ti-close"></i></span>
                        </form>
                    </div>
                    <!-- main nav -->
                    <div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
						<div class="logo-header d-md-block d-lg-none">
							<a href="index.html"><img src="{{('images/logo.png')}}" alt=""></a>
						</div>
						
                        <ul class="nav navbar-nav">	
							<li class="active has-mega-menu"> <a href="">Strona główna</a>
								
							</li>
							<li>
								<a href="javascript:;">Oferta<i class="fas fa-chevron-down"></i></a>
								<ul class="sub-menu tab-content">
									<li>
										<a href="">Worki na selektywną zbiórkę odpadów <i class="fas fa-angle-right"></i></a>
										<ul class="sub-menu">
											<li><a href="header-style-1.html">Header 1</a></li>
											<li><a href="header-style-2.html">Header 2</a></li>
											<li><a href="header-style-3.html">Header 3</a></li>
											<li><a href="header-style-4.html">Header 4</a></li>
											<li><a href="header-style-5.html">Header 5</a></li>
											<li><a href="header-style-6.html">Header 6</a></li>
										</ul>
									</li>	
									<li> 
										<a href="javascript:;">Worki na opony <i class="fas fa-angle-right"></i></a>
										<ul class="sub-menu">		
											<li><a href="header-style-dark-1.html">Header 1</a></li>
											<li><a href="header-style-dark-2.html">Header 2</a></li>
											<li><a href="header-style-dark-3.html">Header 3</a></li>
											<li><a href="header-style-dark-4.html">Header 4</a></li>
											<li><a href="header-style-dark-5.html">Header 5</a></li>
											<li><a href="header-style-dark-6.html">Header 6</a></li>
										</ul>
									</li>
									<li> 
										<a href="javascript:;">Worki na śmieci <i class="fas fa-angle-right"></i></a>
										<ul class="sub-menu">		
											<li><a href="header-style-dark-1.html">Header 1</a></li>
											<li><a href="header-style-dark-2.html">Header 2</a></li>
											<li><a href="header-style-dark-3.html">Header 3</a></li>
											<li><a href="header-style-dark-4.html">Header 4</a></li>
											<li><a href="header-style-dark-5.html">Header 5</a></li>
											<li><a href="header-style-dark-6.html">Header 6</a></li>
										</ul>
									</li>
									<li> 
										<a href="javascript:;">Worki na odpady medyczne<i class="fas fa-angle-right"></i></a>
										<ul class="sub-menu">
											<li><a href="footer-1.html">Footer 1 </a></li>
											<li><a href="footer-2.html">Footer 2</a></li>
											<li><a href="footer-3.html">Footer 3</a></li>
											<li><a href="footer-4.html">Footer 4</a></li>
											<li><a href="footer-5.html">Footer 5</a></li>
											<li><a href="footer-6.html">Footer 6</a></li>
											<li><a href="footer-7.html">Footer 7</a></li>
											<li><a href="footer-8.html">Footer 8</a></li>
											<li><a href="footer-9.html">Footer 9</a></li>
											<li><a href="footer-10.html">Footer 10</a></li>
											<li><a href="footer-11.html">Footer 11</a></li>
											<li><a href="footer-12.html">Footer 12</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="has-mega-menu"> <a href="">Aktualności</a>
								
							</li>
							<li>
								<a href="javascript:;">Sklep<i class="fas fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a href="shop.html">Shop</a></li>
									<li><a href="shop-sidebar.html">Shop Sidebar</a></li>
									<li><a href="shop-product-details.html">Product Details</a></li>
									<li><a href="shop-cart.html">Cart</a></li>
									<li><a href="shop-wishlist.html">Wishlist</a></li>
									<li><a href="shop-checkout.html">Checkout</a></li>
									<li><a href="shop-login.html">Login</a></li>
									<li><a href="shop-register.html">Register</a></li>
								</ul>
							</li>
							
							<li class="has-mega-menu"> <a href="">O firmie</a>
								
							</li>
							<li>
								<a href="">Kontakt</a>
							</li>
						</ul>		
						<div class="dlab-social-icon">
							<ul>
								<li><a class="site-button facebook circle-sm outline fab fa-facebook-f" href="javascript:void(0);"></a></li>
								<li><a class="site-button twitter circle-sm outline fab fa-twitter" href="javascript:void(0);"></a></li>
								<li><a class="site-button linkedin circle-sm outline fab fa-linkedin-in" href="javascript:void(0);"></a></li>
								<li><a class="site-button instagram circle-sm outline fab fa-instagram" href="javascript:void(0);"></a></li>
							</ul>
						</div>
					</div>
				 </div>
            </div>
        </div>
        <!-- main header END -->
    </header>